{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iJoseph</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    {% block css %}
    {% endblock %}

</head>

<body>
    {% if user.is_authenticated %}
    <nav id="site-nav">
        <ol class="navList">
            <a href="{% url 'ijosephapp:home' %}"><img id="logo"src="{% static 'images/i-joseph-large-logo.png' %}" alt="iJoseph Logo"></a>
            <li class="navList__route__dashboard"><a href="{% url 'ijosephapp:yourjob' %}">dashboard</a></li>
            </br>
            <li class="navList__route__sign_out"><a href="{% url 'ijosephapp:logout' %}">logout</a></li>
        </ol>
    </nav>
    {% endif %}
            

    {% block content %}
    {% endblock %}

</body>

</html>