{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iJoseph</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    {% block css %}
    {% endblock %}

</head>

<body>
    {% if user.is_authenticated %}
    <nav id="site-nav">
        <ol class="navList">
            <a href="{% url 'ijosephapp:home' %}"><img id="logo"src="{% static 'images/ijosephlogo.png' %}" alt="iJoseph Logo"></a>
            <li class="navList__route"><a href="{% url 'ijosephapp:yourjob' %}">Dashboard</a></li>
            <li class="navList__route"><a href="{% url 'ijosephapp:logout' %}">Log Out</a></li>
        </ol>
    </nav>
        {% comment %} {% else %} {% endcomment %}
    {% endif %}
            

    {% block content %}
    {% endblock %}

</body>

</html>