{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iJoseph</title>
    {% block css %}
      <link rel="stylesheet" href="{% static 'styles/joblist.css' %}" />
    {% endblock %}
  </head>
  <body>

    <h1>YOUR COMMUNITY PROFILE</h1>

    <h2>YOUR JOBS TO COMPLETE</h2>
    <ol class="jobs">
    {% comment %} needs to iterate over the join table and expand job_id to get information about that particular job {% endcomment %}
    {% comment %} IN THIS TEMPLATE I NEED ONLY THE JOBS TO LIST PER THE USER SIGNED IN, SO USER_ID NEEDS TO === LOGGED IN USER {% endcomment %}
    {% for userjob in all_user_jobs %}
        <li class="job">
          <h2> This works </h2>
        </li>
        {% comment %} Also need to be able to have a DESELECT button that deletes the job from the userjob table by caputuring the userjob id, but doesn't delete the job or the user {% endcomment %}
        <button>DESELECT</button>
        {% comment %} Also need a button to mark the job as complete that turns the isComplete boolean field on the Job table to True and deletes it from the userJob list{% endcomment %}
        <button>COMPLETED</button>
    {% endfor %}
    </ol>

    <h1>JOBS YOU'VE CREATED</h1>
    {% comment %} NEED A LIST OF JOBS HERE WHERE THE USER_ID ON THE JOB TABLE IS THE SAME AS THE USER ID. NEED TO SHOW IF THE isComplete field is True or False {% endcomment %}
    {% comment %} NEED DELETE AND EDIT FUNCTIONALITY FOR A JOB HERE {% endcomment %}

  </body>
</html>

{% endblock %}

