{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iJoseph</title>
    {% comment %} {% block css %}
      <link rel="stylesheet" href="{% static 'styles/joblist.css' %}" />
    {% endblock %} {% endcomment %}
  </head>
  <body>

    <h1>YOUR JOBS TO COMPLETE</h1>

    <ol class="jobs">
    {%for selectedjob in checkedout_jobs%}
      {% if selectedjob.isCompleted == False %}
        <li>
          <h2> {{ selectedjob.title}} </h2>
          <b1> {{ selectedjob.description}}<b1>
        </li>

      <form action="{% url 'ijosephapp:yourjob' %}" method="POST">
        {% csrf_token %}
          <input value={{ selectedjob.id }} name="job_id" type="hidden">
          <input value="MarkComplete" name="actionType" type="hidden">
            <button value="MarkComplete" type="submit">MARK COMPLETE</button>
      </form>

      <form action="{% url 'ijosephapp:yourjob' %}" method="POST">
        {% csrf_token %}
          <input value={{ selectedjob.id }} name="other_job_id" type="hidden">
          <input value="Deselect" name="actionType" type="hidden">
            <button value="Deselect" type="submit">DESELECT</button>
      </form>
      {% endif %}
    {% endfor %}
    </ol>
    <br />
    <br />
    <br />

   <h1>YOUR SUBMITTED JOBS</h1>

    <ol class="jobs">
    {%for submittedjob in yoursubmittedjobs %}
        <li>
          <h2> {{ submittedjob.title}} </h2>
      {% if submittedjob.isCompleted == False  %}
          <b1> This job has not been completed. <b1>
          {% else %}
          <b1> This job is completed. </b1>
      {% endif %}
        </li>
{% comment %} 
        <form action="{% url 'ijosephapp:userjob' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form> {% endcomment %}

        {% comment %} <form action="{% url 'libraryapp:book_edit_form' book.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form> {% endcomment %}

        <button>Edit</button>

    {% endfor %}
    </ol>

  </body>
</html>

{% endblock %}