  
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iJoseph</title>
</head>

<body>

    <section>
        <h1>{{ job.title }}</h1>
        <h2>{{ job.category }}</h2>
        <h2>{{ job.location }}</h2>
        <h2>{{ job.description }}</h2>
    </section>
<form action="{% url 'ijosephapp:userjob' %}" method="post">
      {% csrf_token %}
        {% comment %} put in hidden input fields form for creating a job put data i need here one for user id and one for job id {% endcomment %}
        {% comment %} job.id {% endcomment %}
        <input value={{ job.id }} name="job_id" type="hidden">
        <button type="submit" value="Submit"/>Select This Opportunity</button>
    </section>
</form>

</body>

</html>