{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iJoseph</title>
    {% block css %}
      <link rel="stylesheet" href="{% static 'styles/detail.css' %}" />
      <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    {% endblock %}
</head>

<body>
  <div class="home">
    <section class="card-content">
        <h1 style="text-align: center">{{ job.title }}</h1>
        <hr/>
        <label>location:</label>
        <h3>{{ job.location }}</h3>
        <label>details and contact information:</label>
        <h3>{{ job.description }}</h3>
        <label>category of work:</label>
        <h3>{{ job.category }}</h3>
    </section>
    <br/> 
    <form action="{% url 'ijosephapp:yourjob' %}" method="post">
      {% csrf_token %}
        <input value={{ job.id }} name="job_id" type="hidden">
        <input value="SelectOpportunity" name="actionType" type="hidden"></br></br>
        <button type="submit" value="SelectOpportunity" class="submit_opportunity">select opportunity</button>
    </form>
  </div>
</body>

</html>
{% endblock %}