{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iJoseph</title>
  </head>
  <body>
    <h1>Apply for Help</h1>


    <form action="{% url 'ijosephapp:jobs' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title">
      </fieldset>
      <fieldset>
          <label for="location">Location: </label>
          <input id="location" type="text" name="location">
      </fieldset>
      <fieldset>
          <label for="description">Description: </label>
          <input id="description" type="text" name="description">
      </fieldset>
      <fieldset>
          <label for="category">Category: </label>
          <select id="category" type="text" name="category">
                {% for category in all_categories %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
          </select>
      </fieldset>

          {% comment %} <input value="False" name="isCompleted" type="hidden"> {% endcomment %}
          
       <button type="submit" value="Submit"/>Submit</button>
    </form>
  </body>
</html>
{% endblock %}