{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iJoseph</title>
    {% comment %} <link rel="stylesheet" href="{% static 'styles/applyforhelpform.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    {% block css %}
    {% endblock %} {% endcomment %}
  </head>
  <body>
    <div>
    <h1>Apply for Help</h1>


    <form action="{% url 'ijosephapp:jobs' %}" method="post">
      {% csrf_token %}

      {% if job_to_edit == None %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title" autofocus>
      </fieldset>
      <fieldset>
          <label for="location">Location: </label>
          <input id="location" type="text" name="location">
      </fieldset>
      <fieldset>
          <label for="description">Description: </label>
          <input id="description" type="text" name="description">
      </fieldset>
      <fieldset>
          <label for="category">Category: </label>
          <select id="category" type="text" name="category">
                {% for category in all_categories %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
          </select>
      </fieldset>
        <input type="hidden" name="actionType" value="NewJob">
        <button type="submit" value="Submit">Submit</button>
      {% else %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title" value="{{ job_to_edit.title }}" autofocus>
      </fieldset>
      <fieldset>
          <label for="location">Location: </label>
          <input id="location" type="text" name="location" value="{{ job_to_edit.location }}" autofocus>
      </fieldset>
      <fieldset>
          <label for="description">Description: </label>
          <input id="description" type="text" name="description" value="{{ job_to_edit.description }}" autofocus>
      </fieldset>
      {% comment %} <fieldset>
          <label for="category">Category: </label>
          <select id="category" type="text" name="category">
                {% for category in all_categories %}
                    <option value="{{ category.id }}">{{ job_to_edit.category }}</option>
                {% endfor %}
          </select>
      </fieldset> {% endcomment %}









        <input type="hidden" name="job_to_edit_id" value={{job_to_edit.id}}>
        <input type="hidden" name="actionType" value="Update">
        <button type="submit" value="Update">Update</button>
      {% endif %}



    </form>
    </div>
  </body>
</html>
{% endblock %}