{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iJoseph</title>
    {% block css %}
      <link rel="stylesheet" href="{% static 'styles/joblist.css' %}" />
    {% endblock %}
  </head>
  <body>
    <ol class="jobs">
    {% for job in notcheckedout_jobs %}
        <li class="job">
          <h2> {{ job.title }} </h2>
            <a id="detailsBTN" href="{% url 'ijosephapp:job' job.id %}">Details</a>
        </li>
    {% endfor %}
    </ol>
  </body>
</html>

{% endblock %}