.main-content {
    padding: 1em 2em;
}

.navList {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    display: flex;
    border: 1px solid lightgray;
    padding: 1em;
    margin: 0;
}

.navList__route {
    margin: 0 2em;
}

#logo {
    max-width: 70%;
    margin-left: 1em;

}

a:active {
    color: black;
}
a:visited {
    color: black;
}

a {
    text-decoration: none;
}