.navList {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
    border-bottom: solid antiquewhite 2px;
}

.navList__route__dashboard {
    margin-top: 43px;
    color: antiquewhite;
    margin-right: 50px;
    margin-left: 10px;
}

.navList__route__sign_out {
    margin-top: 43px;
    color: antiquewhite;
    margin-right: 55px;
    margin-left: 10px;
}

#logo {
    max-width: 60%;
}

a:active {
    color: #00c18c;
}
a:visited {
    color: #00c18c;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

body {
    padding: 10px;
}