.home {
    padding-top: 240px;
    padding-bottom: 50px;
    padding-left: 125px;
    padding-right: 125px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.welcome {
    font-size: 80px;
    color: antiquewhite;
}


body {
    background-color: black;
}

#i-Joseph-main-Logo {
    /* align-items: center; */
    width: 120%;
    margin-left: -55px;
}

.become-a-helper-BTN {
    justify-content: center;
    color: #00c18c;
    font-size: 80px;
    padding: 10px 10px 10px 10px;
    font-family: 'Raleway', sans-serif;
}

.ask-for-help-BTN {
    margin-top: 20px;
    justify-content: center;
    color: #00c18c;
    font-size: 80px;
    padding: 10px 10px 10px 10px;
    font-family: 'Raleway', sans-serif;
}


.sign-in-BTN {

    margin-top: 20px;
    justify-content: center;
    color: #00c18c;
    font-size: 85px;
    padding: 10px 10px 10px 10px;
    font-family: 'Raleway', sans-serif;

}

.register-BTN {
    justify-content: center;
    color: #00c18c;
    font-size: 85px;
    padding: 10px 10px 10px 10px;
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: black;
}