.home {
    padding-top: 240px;
    padding-bottom: 50px;
    padding-left: 125px;
    padding-right: 125px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.welcome {
    font-size: 80px;
    color: antiquewhite;
}


body {
    background-color: black;
}

#i-Joseph-main-Logo {
    /* align-items: center; */
    width: 120%;
    margin-left: -55px;
}

.become-a-helper-BTN {
    font-size: 60px;
    color: navy;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #7accc8 10px;
    background-color: #7accc8;
    padding-left: 3px;
    padding-right: 3px; 
    margin-left: -10px;
    margin-top: 10px; 
}

.ask-for-help-BTN {
    font-size: 60px;
    color: navy;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #7accc8 10px;
    background-color: #7accc8;
    padding-left: 3px;
    padding-right: 3px; 
    margin-left: -10px;
    margin-top: 10px; 
}


.sign-in-BTN {

    font-size: 60px;
    color: navy;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #7accc8 10px;
    background-color: #7accc8;
    padding-left: 3px;
    padding-right: 3px; 
    margin-left: -10px;
    margin-top: 10px; 

}

.register-BTN {
    font-size: 60px;
    color: navy;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #7accc8 10px;
    background-color: #7accc8;
    padding-left: 3px;
    padding-right: 3px; 
    margin-left: -10px;
    margin-top: 10px; 
}

a:hover {
    color: navy;
}