body {
    background-color: black;
}

.home {
    padding-top: 230px;
    padding-bottom: 50px;
    padding-left: 125px;
    padding-right: 125px;
    text-align: center;
    margin-top: 45px;
    font-family: 'Raleway', sans-serif;
}

.submit-BTN {
    font-size: 80px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #00c18c 20px;
    background-color: #00c18c;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.apply-for-help {
    font-size: 90px;
    color: antiquewhite;
}

label {
    color: antiquewhite;
}


form {
    font-size: 50px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}

#location {
    margin-top: 10px;
    font-size: 65px;
    padding: 10px;
    width: 90%;
}

#description {
    margin-top: 10px;
    font-size: 65px;
    padding: 10px;
    width: 90%;
}

#title   {
    margin-top: 10px;
    font-size: 65px;
    padding: 10px;
    width: 90%;
}

#category {
    margin-top: 10px;
    font-size: 30px;
    background-color: white;
    padding: 10px;
    width: 50%;
}

a:visited {
    color: antiquewhite;
}