body {
    background-color: black;
}

.card-content {
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    margin: 15px 57px 15px 15px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative; 
}

.smalllogo {
    padding-top: 50px;
    width: 30%;
}

.job {
    margin: 1em;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    color: navy;
}

#detailsBTN {
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #00c18c 20px;
    background-color: #00c18c;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

.no_opportunties_message {
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
    padding: 75px;
}

a {
    color: #00c18c; 
}

a:hover {
    color: navy;
}

a:visited {
    color: antiquewhite;
}
    