body {
    background-color: black;
}

.home {
    padding-top: 255px;
    padding-bottom: 50px;
    padding-left: 125px;
    padding-right: 125px;
    text-align: center;
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
}

.form {
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}

.submit {
    font-size: 70px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #00c18c 20px;
    background-color: #00c18c;
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    margin-top: 10px;
    font-size: 60px;
    border: lightblue solid;
    padding: 20px;
    width: 85%;
}

.submit:hover {
    color: navy;
}