body {
    background-color: black;
}

.home {
    padding-top: 250px;
    padding-bottom: 50px;
    padding-left: 125px;
    padding-right: 125px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.form {
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}

.submit {
    font-size: 70px;
    color: #00c18c;
    font-family: 'Raleway', sans-serif;
}

input {
    margin-top: 10px;
    border: lightblue solid;
    padding: 30px;
    width: 75%;
    font-size: 30px;
}