body {
    background-color: black;
}

.home {
    padding-top: 1px;
    padding-bottom: 50px;
    padding-left: 130px;
    padding-right: 130px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.card-content {
    background: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 15px 15px 0px 0px #7accc8;
    position:relative; 
    color: navy;
    font-size: 30px;
    padding: 40px 70px 40px 70px;
}

.section-title {
    font-size: 75px;
    font-family: 'Raleway', sans-serif;
    margin-top: 70px;
}

h1 {
    color: antiquewhite;
    text-align: center;
}

.submit {
    font-size: 60px;
    color: navy;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #7accc8 10px;
    background-color: #7accc8;
    padding-left: 3px;
    padding-right: 3px; 
    margin-left: -10px;
    margin-top: 10px; 
}

.become-a-helper-BTN {
    font-size: 60px;
    color: navy;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #7accc8 10px;
    background-color: #7accc8;
    padding-left: 3px;
    padding-right: 3px; 
    margin-left: -10px;
    margin-top: 10px; 
}

ul {
    list-style-type: none;
}

p {
    text-align: left;
}

a:hover {
    color: navy;
}

button:hover {
     color: navy;
}

#submitted_job_title {
    font-size: 70px;
    color: navy;
}

h3 {
    color: black;
    font-weight: bolder;
    font-size: 40px;
}