body {
    background-color: black;
}

.home {
    padding-top: 1px;
    padding-bottom: 50px;
    padding-left: 130px;
    padding-right: 130px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.card-content {
    background: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 15px 15px 0px 0px #00c18c;
    position:relative; 
    color: navy;
    font-size: 30px;
    padding: 40px 70px 40px 70px;
}

.section-title {
    font-size: 75px;
    font-family: 'Raleway', sans-serif;
    margin-top: 70px;
}

h1 {
    color: antiquewhite;
    text-align: center;
}

.delete_button {
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #00c18c 20px;
    background-color: #00c18c;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.edit_button {
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #00c18c 20px;
    background-color: #00c18c;
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.become-a-helper-BTN {
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #00c18c 20px;
    background-color: #00c18c;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;  
}

.submit_mark_complete {
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #00c18c 20px;
    background-color: #00c18c;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit_deselect {
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: ridge #00c18c 20px;
    background-color: #00c18c;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

p {
    text-align: left;
}

a:hover {
    color: antiquewhite;
}

button:hover {
     color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

#submitted_job_title {
    font-size: 70px;
    color: navy;
}

h3 {
    color: black;
    font-weight: bolder;
    font-size: 40px;
}