{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iJoseph</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="home">
    {% if user.is_authenticated %}
    {% else %}
        <h1>Welcome to, </h1>
    {% endif %}
        <img src="{% static 'images/ijosephlogo.png' %}" alt="iJoseph Logo">
            <h1>A Community of Helpers<h/1></br></br>
        {% if user.is_authenticated %}
            <a id="homeBTN" href="{% url 'ijosephapp:jobs' %}">Become a Helper</a></br></br>
            <a id="homeBTN" href="{% url 'ijosephapp:job_form' %}">Ask for Help</a>
            {% else %}
            <a id="homeBTN" href="{% url 'ijosephapp:register' %}">Register</a></br></br>
            <a id="homeBTN" href="{% url 'ijosephapp:login' %}">Sign In</a></br></br>
        {% endif %}
    </div>
</body>

</html>
{% endblock %}