{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iJoseph</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="home">
    {% if user.is_authenticated %}
        <img id="logo" src="{% static 'images/ijosephcircleLogo.png' %}" alt="iJoseph Logo">
        </br></br>
    {% else %}
        <h1 class="welcome">Welcome to, </h1>
        <img id="i-Joseph-main-Logo"src="{% static 'images/i-joseph-large-logo.png' %}" alt="iJoseph Logo">
        <h1 class="welcome">A Community of Helpers</h1>
        </br>
        <hr />
        </br>
        </br>
    {% endif %} 
        {% if user.is_authenticated %}
            </br>
            <div>
                <a class="become-a-helper-BTN" href="{% url 'ijosephapp:jobs' %}">Become a Helper</a>
            </div>
            </br>
            <div>
                <a class="ask-for-help-BTN" href="{% url 'ijosephapp:job_form' %}">Ask for Help</a>
            </div>
            {% else %}
            <div>
                <a class="register-BTN" href="{% url 'ijosephapp:register' %}">register</a>
            </div>
            </br>
            <div>
                <a class="sign-in-BTN" href="{% url 'ijosephapp:login' %}">login</a>
            </div>
        {% endif %}
    </div>
</body>

</html>
{% endblock %}